networks:
  app-network:
    driver: bridge

volumes:
  redis_data:
  db_data:
  prometheus_data:
  grafana_data:


services:

  redis:
    image: redis:7.2-alpine
    container_name: my-project-redis
    restart: always
    environment:
      - REDIS_PASSWORD=super_secret_password_123

    command: redis-server --requirepass super_secret_password_123 --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "super_secret_password_123", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app-network

  postgres:
    image: postgres:13
    container_name: threads-postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=myappdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d myappdb" ]
      interval: 5s
      timeout: 5s
      retries: 5

  migrator:
    image: gomicro/goose
    container_name: threads-migrator
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: "postgres://postgres:postgres@postgres:5432/myappdb?sslmode=disable"
    volumes:
      - ./migrations:/migrations
    command: goose -dir /migrations up
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=15d'
    ports:
      - "9090:9090"
    networks:
      - app-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3001:3000"
    networks:
      - app-network

  app:
    container_name: threads-app
    build: .
    restart: always
    ports:
      - "8082:8082"
      - "50052:50052"
    env_file:
      - .env
    environment:
      - DB_HOST=postgres
      - CONFIG_PATH=./configs/config.yaml
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=super_secret_password_123
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
      redis:
        condition: service_healthy
